<%= form_with model: @list, url: list_path, method: 'PATCH', data: {turbo: false } do |form| %>
    <div>
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div>
        <%= form.label :color %>
        <%= form.color_field :color %>
    </div>
    <div>
        <%= form.submit %>
    </div>
<% end %>
