<%= content_for :modal_title do %>
  <%= t('lists.edit_list_title') %>
<% end %>
<%= render 'shared/modal' do %>
  <%= form_with model: @list, url: list_path, method: 'PATCH' do |form| %>
  <div class="p-4 space-y-4 md:p-5">
    <div class="flex items-center">
      <%= form.label :title, t('lists.edit_title'),
          class: 'block text-sm font-medium text-gray-900 flex-none mr-2' %>
      <%= form.text_field :title, required: true,
          class: 'flex-auto bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 ' %>
    </div>
    <div data-controller="color-picker" class="flex items-center">
      <%= form.label :color, t('lists.edit_color'),
          class: 'block text-sm font-medium text-gray-900 flex-none mr-2' %>
      <%= form.text_field :color, class:"hidden", data: {color_picker_target: 'input' } %>
      <div data-color-picker-target="button"></div>
    </div>
    <footer>
      <div class="flex items-center justify-end px-4 pt-4 border-t border-gray-200 rounded-b ">
        <%= form.submit class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ' %>
        <%= link_to t('lists.edit_delete'), list_path(@list), 
            data: {turbo_method: 'delete', turbo_confirm: t('lists.edit_confirm'), action:"click->turbomodal#close"},
            class: 'ms-3 text-red-500 bg-white hover:bg-red-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-red-700 focus:z-10 border-red-600'%>
        <button data-action="click->turbomodal#close" type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10"><%= t('lists.edit_cancel') %></button>
      </div>
    </footer>
  </div>
  <% end %>
<% end %>