<%= form_with model: @new_list, url: project_lists_path(params[:project_id]), data: {turbo: false} do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div data-controller="color-picker">
    <%= form.label :color %>
    <%= form.hidden_field :color, value: '#3778EA', data: {color_picker_target: 'input'} %>
    <div data-color-picker-target="button"></div>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
