<%= content_for :modal_title do %>
  新建列表
<% end %>
<%= render 'shared/turbomodal' do %>
  <%= form_with model: @new_list, url: project_lists_path(params[:project_id]) do |form| %>
    <div>
      <%= form.label :title %>
      <%= form.text_field :title %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>