<li data-sortbale-update-url="<%= task_sort_path(task) %>" class="relative m-1 rounded-lg">
  <%= link_to task_path(task), data:{turbo_frame: "modal"} do %>
    <div class="flex flex-col p-2 mb-2 bg-white rounded-lg shadow-sm shadow-gray-400 hover:bg-blue-300">
      <div class="<%= 'grayscale opacity-30' if task.completed_at.present? %>">
        <div class="flex  justify-between">
          <p class="truncate line-through' <%= 'line-through' if task.completed_at.present? %>"><%= task.title %>
          </p>
          
            <% if task.priority.present? %>
              <div class="inline-block pr-2 mx-1 text-white rounded-md
                          <%= case task.priority
                              when 'critical' then 'bg-red-600'
                              when 'high' then 'bg-yellow-300'
                              when 'medium' then 'bg-lime-500'
                              when 'low' then 'bg-gray-400' end %>">
                <i class="ml-1 mr-1 fa-solid fa-angles-up"></i>
                <%= t("tasks.priorities.#{task.priority}") %>
              </div>
            <% end %>

        </div>



          <% if task.user.present? %>
            <div class="flex items-center w-full pt-2">
              <% if task.user && task.user.avatar.attached? %>
                <%= link_to image_tag(task.user.chat_avatar,
                                      class: "w-5 h-5 rounded-full ml-3"), task.user %>
              <% else %>
                <div class="mr-2 bg-gray-100 rounded-lg w-7 h-7">
                  <i class="block w-5 h-5 p-1 text-gray-300 fa-solid fa-user"></i>
                </div>
              <% end %>
              <%= task.user.nick_name %>
            </div>
          <% end %>
        <div class="flex text-xs text-gray-400 align-middle">
          <% if task.completed_at.present? %>
            <div class="inline-block w-4 h-4 px-1 pt-2 mb-2 mr-1 text-center text-white bg-green-400 rounded-full">
                <i class="h-4 fa-solid fa-check"></i>
            </div>
          <% end %>
          <% if task.location.present? %>
            <div class="inline-block pt-2 mr-1 truncate">
              <i class="ml-2 fa-solid fa-location-dot"></i>
              <%= content_tag :p, task.location, class: "inline" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</li>