<% if @task.errors.any? %>
  <% @task.errors.full_messages.each do |message| %>
   <%= message%>
  <% end %>
<% end %>

<%= form_with model: @task, data: {turbo: false} do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
  <div>
    <%= form.label :user_id %>
    <%= form.select :user_id, User.pluck(:email, :id) %> 
    <%# 藉由pluck 只需要email 跟 id 回傳是Array型態  %>
  </div>
  <div>
    <%= form.label :start_at %>
    <%= form.datetime_field :start_at %>
  </div>
  <div>
    <%= form.label :priority %>
    <%= form.select(:priority, options_for_select(Task::PRIORITY.keys,  @task.priority), { prompt: "選擇優先級" }) %>
  </div>
  <div>
		<%= form.label :estimated_complete_at %>
		<%= form.datetime_field :estimated_complete_at %>
  </div>
  <%= form.submit %>
<% end %>



