<%= content_for :modal_title do %>
  <%= t('tasks.edit') %>
<% end %>
<%= render 'shared/modal' do %>
  <% if @task.errors.any? %>
    <% @task.errors.full_messages.each do |message| %>
    <%= message%>
    <% end %>
  <% end %>

  <%= form_with model: @task, data: { controller: "map" } do |form| %>
    <div class="p-4 space-y-4 md:p-5">
      <div>
        <%= form.label :title, t('tasks.edit_title') %>
        <%= form.text_field :title %>
      </div>
      <div>
        <%= form.label :description, t('tasks.edit_description') %>
        <%= form.text_area :description %>
      </div>
      <div class="w-[350px]">
        <%= form.label :user_id, t('tasks.edit_user_id') %>
        <%= form.select :user_id, User.where(company_id: current_user.company_id).pluck(:email, :id), {include_blank: true} , data:{controller: "slimselect", search_placeholder: t('search_placeholder') } %> 
        <%# 藉由pluck 只需要email 跟 id 回傳是Array型態  %>
      </div>
      <div data-controller="datepicker">
        <div>
          <%= form.label :started_at, t('tasks.edit_started_at')%>
          <%= form.datetime_field :started_at , data:{datepicker_target:"startedAt"} %>
        </div>
        <div>
          <%= form.label :ended_at, t('tasks.edit_ended_at')%>
          <%= form.datetime_field :ended_at, data:{datepicker_target:"endedAt"} %>
        </div>
        <div>
          <%= form.label :all_day_event, t('tasks.edit_all_day_event') %>
          <%= form.check_box :all_day_event, data:{datepicker_target:"allDay", action:"click->datepicker#clickedAllDay"}%>
        </div>
      <div >
        <%= form.label :priority, t('tasks.new_priority')%>
        <%= form.select(:priority, options_for_select(Task::PRIORITY.map { |key, value| [t("tasks.priorities.#{key.to_s}"), key] },  @task.priority),{}, data:{controller: "slimselect", search_placeholder: t('search_placeholder') }, class:"w-56") %>
      </div>
      <div>
        <%= form.label :estimated_completed_at, t('tasks.edit_estimated_completed_at') %>
        <%= form.datetime_field :estimated_completed_at %>
      </div>
      <div>
        <%= form.label :location, t('tasks.edit_location')%>
        <%= form.text_field :location, placeholder: t('tasks.location_placeholder'), data:{ map_target:"field" }%>
        <button data-action="click->map#resetLocation" class="inline-block px-4 py-2 font-bold text-white bg-blue-500 rounded-md shadow-md hover:bg-blue-600"><%= t('tasks.edit_location_reset') %></button>
      </div>

      <div id="map" data-map-target="map" data-location="<%= @location %>" data-latitude="<%= @latitude %>" data-longitude="<%= @longitude %>" data-id="<%= @task.id %>">
      </div>

      <div class="flex items-center justify-end p-4 border-t border-gray-200 rounded-b md:p-5 dark:border-gray-600">
      <%= form.submit class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
      <%= link_to t('projects.delete_task'), task_path(@task), data: {turbo_method: 'DELETE', action: 'click->turbomodal#close'}, class: 'ms-3 text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800' %>
      <button data-action="click->turbomodal#close" type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"><%= t('tasks.edit_cancel') %></button>
      </div>
    </div>  
  <% end %>
<% end %>