<%= content_for :modal_title do %>
  <%= t('tasks.edit') %>
<% end %>
<%= render 'shared/modal' do %>
  <% if @task.errors.any? %>
    <% @task.errors.full_messages.each do |message| %>
    <%= message%>
    <% end %>
  <% end %>

  <%= form_with model: @task do |form| %>
    <div class="p-4 space-y-4 md:p-5">
      <div>
        <%= form.label t('tasks.edit_title') %>
        <%= form.text_field :title %>
      </div>
      <div>
        <%= form.label t('tasks.edit_description') %>
        <%= form.text_area :description %>
      </div>
      <div class="w-[350px]">
        <%= form.label t('tasks.edit_user_id') %>
        <%= form.select :user_id, User.pluck(:email, :id), {include_blank: true} , data:{controller: "slimselect"} %> 
        <%# 藉由pluck 只需要email 跟 id 回傳是Array型態  %>
      </div>
      <div>
        <%= form.label :start_date %>
        <%= form.date_field :start_date %>
      </div>
      <div>
        <%= form.label :start_datetime %>
        <%= form.datetime_field :start_datetime %>
      </div>
      <div>
        <%= form.label :start_timezone %>
        <%= form.text_field :start_timezone %>
      </div>
      <div>
        <%= form.label :end_date %>
        <%= form.date_field :end_date %>
      </div>
      <div>
        <%= form.label :end_datetime %>
        <%= form.datetime_field :end_datetime %>
      </div>
      <div>
        <%= form.label :end_timezone %>
        <%= form.text_field :end_timezone %>
      </div>
      <div>
        <%= form.label :all_day_event %>
        <%= form.check_box :all_day_event %>
      </div>
      <div>
        <%= form.label t('tasks.edit_priority') %>
        <%= form.select(:priority, options_for_select(Task::PRIORITY.keys,  @task.priority), { prompt: t('tasks.edit_select') }) %>
      </div>
      <div>
        <%= form.label t('tasks.edit_estimated_complete_at') %>
        <%= form.datetime_field :estimated_complete_at %>
      </div>
      <div>
        <%= form.label :location %>
        <%= form.text_field :location %>
      </div>
      <div class="flex items-center justify-end p-4 border-t border-gray-200 rounded-b md:p-5 dark:border-gray-600">
      <%= form.submit class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
      <button data-action="click->turbomodal#close" type="button" class="ms-3 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600"><%= t('tasks.edit_cancel') %></button>
      </div>
    </div>  
  <% end %>
<% end %>