<%= content_for :modal_title do %>
  <%= @task.title %>
<% end %>
<%= render 'shared/modal' do %>
  <div class="overflow-y-auto max-h-[70vh] border-t-8" style="border-color:<%= @task.list.color %>; border-style: solid;">
    <div>
      <div class="relative space-y-4 ">
        <div class="flex flex-col gap-4 px-4 pt-4 pb-1">
          <div class="flex items-center justify-between">
            <p class="font-bold" style="color:<%= @task.list.color %>;">> <%= @task.list.title %></p>
          </div>
          <% unless @task.user.nil? %>
            <div class="flex items-center">
              <% unless @task.user.nil? %>
                <% if @task.user.avatar.attached? %>
                  <%= link_to image_tag(@task.user.chat_avatar, class: "w-7 h-7 rounded-full mr-2"), @task.user %>
                <% else %>
                  <div class="flex-none mr-2 bg-gray-100 rounded-full w-7 h-7">
                    <i class="block w-5 h-5 p-1 text-gray-300 fa-solid fa-user"></i>
                  </div>
                <% end %>
                <p class="flex-auto mr-2 truncate"><%= @task.user.nick_name == "" ? (@task.user.name == "" ? @task.user.email : @task.user.name ) : @task.user.nick_name %></p>
              <% end %>
            </div>
          <% end %>
          <% unless @task.priority.nil? %>
            <div>
              <div class="py-1 pr-2 rounded-md inline 
                <%= @task.priority == 'critical' ? 'text-white' : 'text-gray-900' %>
                <%= case @task.priority
                    when 'critical' then 'bg-red-600'
                    when 'high' then 'bg-yellow-300'
                    when 'medium' then 'bg-lime-400'
                    when 'low' then 'bg-gray-300' end %>">
                <i class="ml-1 mr-1 fa-solid fa-angles-up"></i>
                <%= @task.priority_text %>
              </div>
            </div>
          <% end %>
          <% unless @task.description.nil? || @task.description == "" %>
            <div class="flex flex-wrap items-start w-full">
              <div class="flex items-center w-full flex-nowrap sm:w-auto sm:mb-0">
                <i class="flex-none py-1 mr-2 fa-solid fa-align-justify"></i>
                <p class="flex-none mr-2"><%= t('tasks.show_description') %></p>
              </div>
              <p class="flex-1 ml-6 break-words whitespace-pre-wrap sm:ml-0" style="width: calc(100% - 12rem);"><%= @task.description %></p>
            </div>
          <% end %>
          <div class="flex flex-wrap items-start w-full sm:w-auto sm:mb-0">
            <div class="flex items-center mr-2">
              <i class="mr-2 fa-regular fa-calendar"></i>
              <p class="flex-none"><%= t('tasks.time') %></p>
            </div>
            <% if @task.started_at.present? || @task.ended_at.present? %>
              <div class="<%= 'flex' if @task.all_day_event == true %>">
                <p class="ml-1"><%= @task.all_day_event == true ? @task.started_at.strftime("%Y-%m-%d") : @task.started_at.in_time_zone("Taipei").strftime('%B %d, %Y, %I:%M %p') %> ~ </p>
                <p class="ml-1"><%= @task.all_day_event == true ? @task.ended_at.strftime("%Y-%m-%d") : @task.ended_at.in_time_zone("Taipei").strftime('%B %d, %Y, %I:%M %p') %></p>
              </div>
            <% end %>
          </div>
          <% unless @task.location.nil? || @task.location == "" %>
            <div class="flex flex-wrap items-center w-full sm:flex-nowrap sm:w-auto sm:mb-0">
              <div class="flex items-center mr-2">
                <i class="ml-1 mr-2 fa-solid fa-location-dot"></i>
                <p class="flex-none"><%= t('tasks.show_location') %></p>
              </div>
              <p class="w-full ml-6 truncate sm:w-auto sm:ml-0 sm:pl-4"><%= @task.location %></p>
            </div>
            <div data-controller="map" id="map" data-map-target="map" data-location="<%= @location %>" data-latitude="<%= @latitude %>" data-longitude="<%= @longitude %>" data-id="<%= @task.id %>" class="mt-2"></div>
          <% end %>
          <%= link_to t('tasks.show_edit'), edit_task_path(@task), data: { turbo_frame: "modal" }, class: 'flex items-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center block ml-auto' %>
        </div>
        <div class="px-4 pt-4 pb-12 bg-gray-100 rounded-b-lg md:p-5">
          <div class="flex items-center mb-3">
            <i class="mr-2 fa-regular fa-comment-dots"></i>
            <p><%= t('comments.comment') %></p>
          </div>
          <div>
            <%= render partial: 'comments/form', locals: { comment: Comment.new, task: @task }%>
            <div id="comment_area">
              <% @comments.each do |comment| %>
                <ul class="mt-6 space-y-4">
                  <div class="flex items-center justify-between">
                    <% unless comment.user.nil? %>
                      <div class="flex items-center">
                        <% if comment.user.avatar.attached? %>
                          <%= link_to image_tag(comment.user.chat_avatar, class: "w-7 h-7 rounded-full mr-2"), comment.user %>
                        <% else %>
                          <div class="mr-2 rounded-lg w-7 h-7">
                            <i class="block w-5 h-5 p-1 text-gray-400 fa-solid fa-user"></i>
                          </div>
                        <% end %>
                        <p class="flex-auto mr-2 truncate"><%= comment.user.nick_name == "" ? (comment.user.name == "" ? comment.user.email : task.user.name ) : task.user.nick_name %></p>
                      </div>
                    <% end %>
                    <div class="flex items-center">
                      <p class="text-xs text-gray-400"> <%= comment.created_at.in_time_zone("Taipei").strftime('%B %d, %Y, %I:%M %p') %></p>
                      <%= link_to comment_path(comment), data:{turbo_method:"delete"},
                          class: " flex items-center p-2 ml-2 hover:bg-gray-300 rounded-lg text-gray-400 hover:text-red-600 transition duration-300 ease-in-out" do %>
                        <i class="fa-regular fa-trash-can"></i>
                      <% end %>
                    </div>
                  </div>
                  <div class="relative flex">
                    <div class="flex-none w-9"></div>
                    <li class="flex-auto px-4 pt-4 break-words bg-white rounded-lg markdown" style="width: calc(100% - 12rem);">
                      <%= advanced_markdown(comment.content) %>
                    </li>
                  </div>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>