<div class="max-w-screen-lg m-auto">
  <div>
    <div class="flex items-center mx-6 my-4">
      <i class="pr-3 text-4xl text-[#3f83f8] fa-solid fa-file-import"></i>
      <h3 class="text-3xl font-extrabold"><%= t('hrs.new_users') %></h3>
      <%= link_to  t('import.import_employee'), users_import_path, class:"text-center rounded-md bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 inline-block ml-6" if current_company.paid%>
    </div>
    <div class="p-8 mx-6 mb-4 border rounded-lg shadow-md">
      <%= form_with(model: @user, url: hrs_path, data: {turbo:false, method: :post}) do |f| %>
        <h2 class="mb-2 text-xl font-bold text-gray-900">
          <%= t('hrs.new_user') %>
        </h2>
        <div class="flex flex-col gap-0 sm:gap-4 sm:flex-row">
          <div class="flex-1">
            <%= f.label :name, class: 'form-text mt-2' %>
            <%= f.text_field :name, placeholder: t('hrs.name_placeholder'), class: 'form-input' %>
            <%= f.label :email, class: 'form-text mt-2' %>
            <%= f.email_field :email, placeholder: t('hrs.email_placeholder'), class: 'form-input' %>
          </div>
          <div class="relative flex-1">
            <%= f.label :password, class: 'form-text mt-2' %>
            <%= f.password_field :password, placeholder: t('hrs.password_confirmation_placeholder'), class: 'form-input' %>
            <%= f.password_field :password_confirmation, placeholder: t('hrs.password_confirmation_placeholder'), class: 'form-input mt-4 sm:absolute sm:bottom-0' %>
          </div>
          <div class="relative flex-1">
            <%= f.label t('hrs.role'), class: "form-text mt-2" %>
            <%= f.select :role, User.roles.keys.map { |w| [w.humanize, w]}, {}, { class: 'form-input' } %>
            <%= f.submit t('hrs.new_user'), class: " mt-4 sm:absolute sm:bottom-0 w-full px-4 py-2 font-bold text-center text-white bg-blue-500 rounded-lg cursor-pointer hover:bg-blue-700" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div  id="users_table" class="flex items-center justify-center mx-6">
    <table class="min-w-full bg-white divide-y divide-gray-300 ">
      <tr class="text-center">
        <th class="py-2 text-2xl bg-white rounded-lg text-blue" colspan="5"><%= t('hrs.user_lists') %></th>
      </tr>
      <tr class="bg-gray-200">
        <th></th>             
        <th class=""><%= t('hrs.name') %></th>
        <th class=""><%= t('hrs.email') %></th>
        <th class=""><%= t('hrs.role') %></th>    
        <th class=""><%= t('hrs.update_column') %></th>
        <th class=""><%= t('hrs.delete_column') %></th>
      </tr>
      <% @users.each do |user| %>
        <%= form_for(user, url: hr_path(user), data:{turbo: false, method: :patch}) do |f| %>
          <div class="flex justify-center">  
            <tr>
              <td></td>
              <td class="pl-2 pr-2 md:pl-4 md:pr-6"><%= f.text_field :name, class: 'bg-gray-50 border border-gray-300 w-full text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 mt-3 mx-1' %></td>
              <td class="px-2"><%= f.text_field :email, class: 'bg-gray-50 border border-gray-300 w-full text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 mt-3 mx-1' %></td>
              <td class="px-2"><%= f.select(:role, User.roles.keys.map { |w| [w.humanize, w]}, {}, { class: 'bg-gray-50 border border-gray-300 w-full text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 mt-3 mx-1' }) %></td>
              <td class="flex justify-center px-2">
                <%= f.submit t('hrs.update'), class: "cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold rounded px-3 py-1.5 mt-3 mx-1 text-2xl rotate-90" %>
              </td>
              <div>
                <td><%= link_to t('hrs.delete'), hr_path(user), class: "bg-white hover:bg-red-200 hover:border-red-400 text-gray-400 border hover:text-red-600 font-bold rounded inline-block mt-3 mx-1 py-2.5 px-4", data: {turbo_method: 'delete', turbo_confirm: t('hrs.delete_confirm') } %></td>
              </div>
            </tr>
          </div>
        <% end %>
      <% end %>
    </table>  
  </div>
</div>

