<div class="flex">
  <aside>
    <!-- drawer component -->
    <section id="drawer" class="bg-gradient-to-b from-[#15233b] via-[#3778EA] via-70% to-100% to-[#3779eaa3] dark:bg-gray-900 fixed top-0 left-0 z-40 h-screen p-4 overflow-y-auto transition-transform -translate-x-full bg-white w-80 dark:bg-gray-800" tabindex="-1" aria-labelledby="drawer-label">
      <div class="flex flex-col items-center justify-center px-6 mx-auto">
      
        <div class="w-full bg-white rounded-lg shadow dark:border my-10 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-3 space-y-4">
              
            <div class="flex justify-center">
              <%= link_to  t('import.import_employee'), users_import_path, class:"text-center rounded-md bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 inline-block shadow-md m-3" if current_company.paid%>
            </div>
            <button type="button" data-drawer-hide="drawer" aria-controls="drawer" class="text-gray-400 bg-transparent rounded-lg text-sm w-8 h-8 absolute top-2.5 end-2.5 flex items-center justify-center" >
              <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
              </svg>
              <span class="sr-only">Close menu</span>
            </button>

            <h2 class="text-xl font-bold leading-tight tracking-tight text-gray-900 text-center">
              <%= t('hrs.new_user') %>
            </h2>

            <%= form_with(model: @user, url: hrs_path, method: :post) do |f| %>
              <div class="flex justify-center space-x-2">
                <div class="flex items-center">
                  <%= f.label t('hrs.role'), class: "text-lg block text-gray-900 dark:text-white" %>
                </div>
                <div>
                  <%= f.select :role, User.roles.keys.map { |w| [w.humanize, w]}, {}, { class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' } %>

                </div>
              </div>
              <div>
                <%= f.text_field :name, placeholder: t('hrs.name_placeholder'), class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-3' %>
              </div>

              <div>
                <%= f.email_field :email, placeholder: t('hrs.email_placeholder'), class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 mt-3' %>
              </div>
              <div>
                <%= f.password_field :password, placeholder: t('hrs.password_placeholder'), class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 my-3' %>
              </div>
              <div>
                <%= f.password_field :password_confirmation, placeholder: t('hrs.password_confirmation_placeholder'), class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
              </div>
              <div class= "my-5">
                <%= f.submit t('hrs.new_user'), class: "w-full bg-gradient-to-b from-[#18376c] form-20% to-[#3779eaa3] hover:bg-blue-900 text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>                  
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

  </aside>

  <main class="flex-auto">
    <section class="pb-24 bg-gradient-to-b from-[#15233b] via-[#3778EA] via-70% to-100% to-[#3779eaa3] py-4">
      <div class="flex items-center justify-center px-6 py-4 mx-auto">
        <div class="flex flex-col items-center justify-center mb-10">
          <!-- drawer init and toggle -->
          <div class="text-center">
            
          </div>
            
        </div>
        <div class="flex items-center justify-center">
          <table>
            
            <tr class="text-center">
              <th><button type="button" 
              data-drawer-target="drawer"
              aria-controls="drawer"
              data-drawer-show="drawer"
              class="hover:bg-blue-700 text-white rounded-lg text-3xl font-extrabold px-2 py-1 text-center">
              <%= t('hrs.new_user_toggle') %>
            </button></th>
              <th class="rounded-lg bg-white font-extrabold text-blue text-4xl" colspan="5"><%= t('hrs.user_lists') %></th>
            </tr>
            <tr>
              <th></th>              
              <th class="text-white "><%= t('hrs.name') %></th>
              <th class="text-white "><%= t('hrs.email') %></th>
              <th class="text-white "><%= t('hrs.role') %></th>    
              <th class="text-white "><%= t('hrs.update_column') %></th>
              <th class="text-white "><%= t('hrs.delete_column') %></th>
            </tr>
            <% @users.each do |user| %>
              <%= form_for(user, url: hr_path(user), remote: true, method: :patch) do |f| %>
                <div class="flex justify-center">  
                  <tr>
                    <td></td>
                    <td><%= f.text_field :name, class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 mt-3 mx-1' %></td>
                    <td><%= f.text_field :email, class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 mt-3 mx-1' %></td>
                    <td><%= f.select(:role, User.roles.keys.map { |w| [w.humanize, w]}, {}, { class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block p-2.5 mt-3 mx-1' }) %></td>
                    <td><%= f.submit t('hrs.update'), class: "bg-blue-500 hover:bg-blue-700 text-white font-bold  rounded px-4 py-2.5 mt-3 mx-1" %></td>
                    <div class="mt-3">
                      <td><%= link_to t('hrs.delete'), hr_path(user), class: "bg-red-500 hover:bg-red-700 text-white font-bold rounded inline-block mt-3 mx-1 py-2.5 px-4", data: {turbo_method: 'delete', turbo_confirm: t('hrs.delete_confirm') } %></td>
                    </div>
                  </tr>
                </div>
              <% end %>
            <% end %>
          </table>  
        </div>
      </div>
    </section>
  </main>
</div>

