<%= form_with(model: @new_private_group, data: { controller: "turbomodal", action: "turbo:submit-end->turbomodal#submitEnd" }) do |form| %>
  <div>
    <%= form.label :name, '私人房間' %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :user_ids, '選擇成員' %>
    <%= form.select :user_ids, User.all_except(current_user).pluck(:name, :id), {}, { multiple: true, data: { controller: 'slimselect', slim_target: 'field' } } %>
  </div>

  <%= form.hidden_field :is_private, value: true %>

  <div class="flex gap-3 mt-3">
    <%= form.submit '建立房間' %>
    <div>
      <%= link_to "取消", "#", data: { controller: "modals", action: "modals#close" } %>
    </div>
  </div>
</div>
<% end %>