  <div id="public-room" class="flex items-center justify-between p-3 ">
      <h3 class="text-2xl p-3">Public Rooms</h3>
      <div id="public-room-modal">    
        <%= link_to new_room_path(modal_type: "public"), data: { turbo_frame: "modal" } do %>
          <i class="fa-solid fa-square-plus fa-2x"></i>
        <% end %>
      </div>
  </div>

      <%= turbo_stream_from "rooms_company_#{current_user.company_id}"%>
      <div id="rooms">
        <div>
          <%= render @rooms%>
        </div>
      </div>

  
    <div id="privacy-room" class="mt-5">
      <%= turbo_stream_from "private_rooms_for_user_#{current_user.id}" %>
      <div id="private_rooms">
        <%= render @private_groups %>
      </div>
    </div>
