<turbo-stream action="replace" target="calendar">
    <template>
        <div data-controller="calendar"
            class="w-full lg:w-2/3 mx-auto" id="calendar">
        </div>
    </template>
</turbo-stream>


<turbo-stream action="prepend" target="event">
    <template>
        <div id=<%= @event[:id] %>>
            <%= link_to '' , event_path(@event[:id]) %>
            <%= link_to '', edit_event_path(@event[:id]), data:{turbo_frame: "modal"} %>
            <%= link_to '', event_path(@event[:id]), data:{turbo_frame: "modal"} %>
            <%= link_to '', event_path(@event[:id]), data:{turbo_method:'delete', turbo_confirm: '確定要刪除嗎'} %>
        </div>
    </template>
</turbo-stream>