<%= content_for :modal_title do %>
  <%= t('modal.edit event') %>
<% end %>
<%= render "shared/modal" do %>
  <%= render 'form', event: @event %>
  <div class="px-6 py-4">
  <%= link_to t('show.Delete'), event_path(@event), data:{turbo_method:'delete', turbo_confirm: '確定要刪除嗎', action:"click->turbomodal#close"}, class:'form-btn' %>
  </div>
<% end %>