<%= content_for :modal_title do %>
  <%= t('calender.edit_event') %>
<% end %>
<%= render "shared/modal" do %>
  <%= render 'form', event: @event %>
  <div class="px-6 py-4">
  <%= link_to t('calender.delete'), event_path(@event), data:{turbo_method:'delete', turbo_confirm: t('calendar.delete_confirm'), action:"click->turbomodal#close"}, class:'form-btn' %>
  </div>
<% end %>