<%= content_for :modal_title do %>
  <%= t('calender.show_event') %>
<% end %>
<%= render "shared/modal" do %>
  <div class="px-6 py-4">
    <ul>
      <li class="py-2"><%= t('calender.show_subject') %>：<%= @event.subject %></li>
      <li class="py-2"><%= t('calender.show_started_at') %>：<%= @event.started_at %></li>
      <li class="py-2"><%= t('calender.show_ended_at') %>：<%= @event.ended_at %></li>
      <li class="py-2"><%= t('calender.show_all_day_event') %>：<%= @event.all_day_event %></li>
      <li class="py-2"><%= t('calender.show_description') %>：<%= @event.description %></li>
    </ul>
  </div>
<% end %>