
<%= link_to t('show.Edit'), edit_event_path(@event) %>
<%= link_to t('show.Delete'), event_path, data:{turbo_method:'delete', turbo_confirm: '確定要刪除嗎'} %>

<ul>
    <li><%= t('show.Subject') %><%= @event.subject %></li>
    <li><%= t('show.Location') %><%= @event.start_date %></li>
    <li><%= @event.start_time %></li>
    <li><%= @event.end_date %></li>
    <li><%= @event.end_time %></li>
    <li><%= @event.all_day_event %></li>
    <li><%= @event.description %></li>
    <li><%= t('show.Location') %><%= @event.location %></li>
    <li><%= @event.private %></li>
</ul>