<div class="flex justify-center pt-16">
  <div class="m-8 p-8 border-2 rounded-lg shadow-2xl">
    <div class="mb-12">
      <h1 class="text-2xl font-bold"> <%= t('orders.plan') %> </h1>
      <p class="text-lg text-gray-600"> <%= t('orders.plan_detail') %></p>
    </div>
    <div class="grid grid-cols-2 gap-8">
      <div class="bg-white p-8 border-2 rounded">
        <div class="text-center mb-8">
          <span class="text-lg text-gray-600"><%= t('orders.vip_price') %></span>
          <div class="text-4xl font-bold">$699/<span class="text-xl"><%= t('orders.month') %></span></div>
          <span class="text-md text-gray-600"><%= t('orders.price_detail') %></span>
        </div>
        <%= button_to t('orders.upgrade'), orders_path, class: "bg-purple-600 text-white w-full py-3 rounded-lg", method: :post, data: { turbo: false } %>
        <ul class="mt-8 text-md">
          <li>✓ <%= t('orders.condition_one') %></li>
          <li>✓ <%= t('orders.condition_two') %></li>
          <li>✓ <%= t('orders.condition_three') %></li>
          <li>✓ <%= t('orders.condition_four') %></li>
          <li>✓ <%= t('orders.condition_five') %></li>
          <li>✓ <%= t('orders.condition_six') %></li>
        </ul>
      </div>
      <div class="bg-white p-8 border-2 rounded">
        <div class="text-center mb-8">
          <span class="text-lg text-gray-600"> <%= t('orders.basic_price') %></span>
          <div class="text-4xl font-bold">$0/<span class="text-xl"><%= t('orders.month') %></span></div>
          <span class="text-md text-gray-600"><%= t('orders.free') %></span>
        </div>
          <li>✓ <%= t('orders.condition_seven') %></li>
          <li>✓ <%= t('orders.condition_eight') %></li>
        </ul>
      </div>
    </div>
  </div>
</div>
