<li data-sortbale-update-url="<%= list_sort_path(list) %>">
  <div class="w-48">
    <div>
      <div class="w-full h-1" style="background-color: <%= list.color %>;"></div>
      <%= content_tag :h2, list.title, class: "font-bold" %><%= list.id %>
      <%= link_to '編輯', edit_list_path(list.id) %>
      <%= link_to '刪除', list_path(list), data: {turbo_method: 'delete'} %>
    </div>
    <div>
      <ul data-controller="sortable" data-sortable-group-value="tasks" data-sortable-id="<%= list.id %>">
        <%= render partial: 'tasks/task', collection: list.tasks.rank(:row_order) %>
      </ul>
    </div>
    <div>
      <%= link_to new_list_task_path(list.id), data: { turbo_frame: "modal" } do%>
          <svg xmlns="http://www.w3.org/2000/svg" height="16" width="14" viewBox="0 0 448 512"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/></svg>
      <% end %>
    </div>
  </div>
  
</li>
