<li data-sortbale-update-url="<%= list_sort_path(list) %>">
  <div class="w-48">
    <div>
      <div class="w-full h-1" style="background-color: <%= list.color %>;"></div>
      <%= content_tag :h2, list.title, class: "font-bold" %><%= list.id %>
      <%= link_to '編輯', edit_list_path(list.id) %>
      <%= link_to '刪除', list_path(list), data: {turbo_method: 'delete'} %>
    </div>
    <div>
      <ul data-controller="sortable" data-sortable-group-value="tasks" data-sortable-id="<%= list.id %>">
        <%= render partial: 'tasks/task', collection: list.tasks.rank(:row_order) %>
      </ul>
    </div>
    <div>
      <%= link_to new_list_task_path(list.id), data: { turbo_frame: "modal" } do%>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
  </div>
</li>
