<%= search_form_for @q, data: { turbo_frame: :results } do |f| %>
  <div class="flex">
    <div class="flex items-center"><%= t('projects.main_search') %></div>
    <div class="flex items-center px-4">
      <%= f.label :title_or_owner_email_cont, t('projects.main_title_or_email'), class:"pr-2 shrink-0" %>
      <%= f.search_field :title_or_owner_email_cont, class:"form-input", oninput: 'this.form.requestSubmit();' %>
    </div>

    <div class="flex items-center">
      <%= link_to t('projects.main_clear'), "", 
      class:"rounded-md bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 inline-block shadow-md", 
      data: {controller: "reset-form", action:"turbo:submit-end->reset-form#reset"}%> 
    </div>
  </div>
<% end %>

<div class="flex justify-center">
  <%= turbo_frame_tag :results do %>
    <table>
      <thead>
        <th><%= sort_link(@q, :title, t('projects.main_title'), default_order: :desc) %> </th>
        <th><%= sort_link(@q, :description, t('projects.main_description'), default_order: :desc) %></th>
        <th><%= sort_link(@q, :owner_email, t('projects.main_email'), default_order: :desc) %></th>
        <th><%= sort_link(@q, :created_at, t('projects.main_created_time'), default_order: :desc) %> </th>
        <th><%= sort_link(@q, :updated_at, t('projects.main_updated_time'), default_order: :desc) %></th>
      </thead>
      <tbody>
        <% projects.each do |project| %>
        <tr>
          <td> <%= link_to highlight(project.title, params.dig(:q, :title_or_owner_email_cont)), project, data: {turbo_frame: "_top"}%></td>
          <td><%= project.description %></td>
          <td><%= highlight project.owner.email, params.dig(:q, :title_or_owner_email_cont)  %></td>
          <td><%= project.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= project.updated_at.strftime("%Y-%m-%d") %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>