<li class="flex">
    <div><%= link_to project.title, project %></div>
    <div><%= project.description %></div>
    <div><%= User.find(project.owner_id).nick_name %></div>
    <div>
        <div><%= project.created_at.strftime("%Y-%m-%d") %></div>
        <div><%= project.updated_at.strftime("%Y-%m-%d") %></div>
    </div>
    <%= link_to 'Edit Project', edit_project_path(project), data: { toggle: "modal", target: "#projectModal", action: "edit" } %>
</li>