<div class="flex">
  <aside class="flex-initial pt-2 flex-initail w-80">
    <h2 class="px-8 pb-4 text-2xl text-gray-900 dark:text-white"><%= t('project.affiliated_projects') %></h2>
    <ul id="aside_list">
      <%= render 'aside_projects', projects: @projects %>
    </ul>
  </aside>
  <main class="flex-auto">
    <header class="flex">
      <%= content_tag(:h1, t('project.affiliated_projects'), class: "text-3xl text-gray-900 dark:text-white") %>
    </header>
    <div>
      <%= link_to  new_project_path, data: { turbo_frame: "modal" } do%>
        <i class="fa-solid fa-plus"></i>
      <% end %>
    </div>
    <ul id="main_list">
      <%= render 'main_projects', projects: @projects %>
    </ul>
  </main>
</div>

