<div id="project_show">
  <%= @project.title %>
  <%= @project.description %>
  <%= @project.owner.nick_name %>
  <%= link_to 'X', project_path(@project), data: { turbo_method: 'delete', turbo_confirm: t('projects.show_confirm')} %>
  <%= link_to  edit_project_path, data: { turbo_frame: "modal" } do%>
    <i class="fa-solid fa-ellipsis"></i>
  <% end %>
</div>
<hr>

<div class="flex gap-2">
  <ul id="all_list" class="flex gap-2" data-controller="sortable" >
    <%= render partial: 'list', collection: @project.lists.rank(:row_order)%> 
  </ul>
  <div>
    <%= link_to  new_project_list_path(@project), data: { turbo_frame: "modal" } do%>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
</div>