<%# 主要list 用turbo_stream 呈現 %>
<turbo-stream action="update" target="main_list">
  <template>
    <%= render partial: 'main_projects', locals:{projects: current_user.affiliated_projects.order(id: :asc)} %>
  </template>
</turbo-stream>

<%# 旁邊list 用turbo_stream 呈現 %>
<turbo-stream action="update" target="aside_list">
  <template>
    <%= render partial: 'aside_projects', locals:{projects: current_user.affiliated_projects.order(id: :asc)} %>
  </template>
</turbo-stream>

<%# toast 以 turbo_stream呈現 %>
<div class="absolute top-10 right-0 px-5 py-2 z-10">
  <%= render partial: 'shared/alert', locals: { message: flash[:alert]} %>
  <%= render partial: 'shared/notice', locals: { message: flash[:notice]} %>
  <%= render partial: 'shared/success', locals: { message: flash[:success]} %>
  <%= render partial: 'shared/info', locals: { message: flash[:info]} %>
  <%= render partial: 'shared/mail', locals: { message: flash[:mail]} %>
</div>

<%# show頁面修改後 用turbo_stream 呈現 %>
<turbo-stream action="update" target="project_show">
  <template>
    <div id="project_show">
        <%= @project.title %>
        <%= @project.description %>
        <%= @project.owner.nick_name %>
        <%= link_to 'X', project_path(@project), data: { turbo_method: 'delete', turbo_confirm: '確定刪除專案嗎？'} %>
        <%= link_to  edit_project_path, data: { turbo_frame: "modal" } do%>
            <i class="fa-solid fa-ellipsis"></i>
        <% end %>
    </div>
  </template>
</turbo-stream>
