<turbo-stream action="update" target="main_list">
  <template>
    <%= render partial: 'main_projects', locals:{projects: @projects} %>
  </template>
</turbo-stream>

<turbo-stream action="update" target="aside_list">
  <template>
    <%= render partial: 'aside_projects', locals:{projects: @user_projects} %>
  </template>
</turbo-stream>

<div class="fixed right-0 z-10 px-5 py-2 top-14">
  <%= render partial: 'shared/alert', locals: { message: flash[:alert]} %>
  <%= render partial: 'shared/notice', locals: { message: flash[:notice]} %>
  <%= render partial: 'shared/success', locals: { message: flash[:success]} %>
  <%= render partial: 'shared/info', locals: { message: flash[:info]} %>
  <%= render partial: 'shared/mail', locals: { message: flash[:mail]} %>
</div>





<turbo-stream action="update" target="edit-head-k">
  <template>
    <div id="edit-head-k">
      <%= render partial: 'head', locals: {project: @project} %>
    </div>
  </template>
</turbo-stream>


<turbo-stream action="update" target="edit-head-c">
  <template>
    <div id="edit-head-c">
      <%= render partial: 'head', locals: {project: @project} %>
    </div>
  </template>
</turbo-stream>