<section class="fixed top-0 flex items-center w-full h-screen pt-6 bg-gray-400 -z-10">
  <div class="w-full max-w-screen-lg p-6 m-4 bg-white rounded-lg shadow-lg md:m-auto lg:w-[30%] md:w-[50%] sm:m-12 md:p-12">
    <div class="flex items-center mb-4 text-2xl">
      <i class="h-7 p-1.5 mr-2 text-center text-blue-600 fa-solid fa-building"></i>
      <h3 class="font-extrabold"><%= t('company.company_sign_up') %></h3>
    </div>
    <%= form_with model: @company, data: { turbo: false } do |form| %>
      <div class="flex flex-col gap-2">
        <div>
          <%= form.label :name, t('company.name'), class: "form-text" %>
          <%= form.text_field :name, placeholder: t('company.enter_name'), class: 'form-input' %>
        </div>
        <div>
          <%= form.label :email, t('company.email'), class: "form-text" %>
          <%= form.email_field :email, placeholder: t('company.enter_email'), class: 'form-input' %>
        </div>
        <div>
          <%= form.label :password, t('company.password'), class: "form-text" %>
          <%= form.password_field :password, placeholder: t('company.enter_password'), class: 'form-input' %>
        </div>
        <div>
          <%= form.label :password_confirmation, t('company.password_confirmation'), class: "form-text" %>
          <%= form.password_field :password_confirmation, placeholder: t('company.enter_password_confirmation'), class: 'form-input' %>
        </div>
        <div class= "my-5">
          <%= form.submit class: "w-full px-4 py-2 font-bold text-center text-white bg-blue-500 rounded-lg cursor-pointer hover:bg-blue-700" %>
        </div>
      </div>
    <% end %>
  </div>
</section>