<section class="bg-gradient-to-b from-[#15233b] via-[#3778EA] via-70% to-100% to-[#3779eaa3] dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
      
      <div class="w-full bg-white rounded-lg shadow dark:border my-15 md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                  <%= t('company.company_sign_in') %>
              </h1>
              <%= form_with(url: sessions_path, scope: 'company', data: {turbo: false}) do |form| %>
                  
                  <div>
                      <%= form.label t('company.email'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= form.email_field :email, placeholder: "example@company.com", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
                  </div>
                  <div>
                    <%= form.label t('company.password'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                    <%= form.password_field :password, placeholder: "••••••", class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
                  </div>
                
                  <div class= "my-5">
                    <%= form.submit t('company.login'), class: "w-full bg-gradient-to-b from-[#18376c] form-20% to-[#3779eaa3] hover:bg-blue-900 text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center" %>                  
                  </div>
                  <div class= "my-5 text-center">
                    <%= t('company.not_registered') %>? <%= t('company.please') %><%= link_to t('company.create_account'), new_company_path, class: "text-blue-600 hover:font-bold active:bg-blue-300 focus:outline-none focus:ring" %>
                  </div>
              <% end %>
          </div>
      </div>
  </div>
</section>



