<section class="fixed top-0 flex items-center w-full h-screen pt-6 bg-gray-400 -z-10">
  <div class="w-full max-w-screen-lg p-6 m-4 bg-white rounded-lg shadow-lg md:m-auto lg:w-[40%] md:w-[50%] sm:m-12 md:p-12"> 
    <div class="flex items-center pt-4 mb-4 text-2xl">
      <i class="h-7 p-1.5 mr-2 text-center text-blue-600 fa-solid fa-building"></i>
      <h3 class="font-extrabold"><%= t('company.company_sign_in') %></h3>
    </div>
    <%= form_with(url: sessions_path, scope: 'company', data: {turbo: false}) do |form| %>
      <div class="flex flex-col gap-4">
        <div>
            <%= form.label :email, t('company.email'), class: "form-text" %>
            <%= form.email_field :email, placeholder: t('company.your_email'), class: 'form-input' %>
        </div>
        <div>
          <%= form.label :password, t('company.password'), class: "form-text" %>
          <%= form.password_field :password, placeholder: t('company.your_password'), class: 'form-input' %>
        </div>
        <%= form.submit t('company.login'), class: "w-full my-4 px-4 py-2 font-bold text-center text-white bg-blue-500 rounded-lg cursor-pointer hover:bg-blue-700" %>
        <div class= "mb-8 text-center">
          <%= t('company.not_registered') %>? <%= t('company.please') %><%= link_to t('company.create_account'), new_company_path, class: "text-blue-600 hover:font-bold active:bg-blue-300 focus:outline-none focus:ring" %>
        </div>
      </div>
    <% end %>
  </div>
</section>



