<% if calendar.errors.any? %>
  <% calendar.errors.full_messages.each do |message| %>
   <%= message%>
  <% end %>
<% end %>

<%= form_with model: calendar, data:{turbo:false} do |form| %>
  <div class="grid gap-10 mb-10 md:grid-cols-1 p-10 aligns-center">
    <div>
      <%= form.label :title, t('form.Title'), class:'form-text'%>
      <%= form.text_field :title, class:'form-input', required: true %>
      <%= form.label :description, t('form.Description'), class:'form-text' %>
      <%= form.text_area :description, class:'form-input' %>

      <%= form.label :color, t('form.Color'), class:'form-text'%>
      <%= form.text_field :color, class:'form-input' %>
      <%= form.label :timezone, t('form.Timezone'), class:'form-text'%>
      <%= form.text_field :timezone, class:'form-input' %>

      <%= form.submit class:'form-btn' %>
    </div>
  </div>



<% end %>
