<section class="bg-gradient-to-b from-[#eff6ff] via-[#bfdbfe] via-70% to-100% to-[#eff6ff] pt-8 pb-64">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto">
      
      <div class="w-full bg-white rounded-lg shadow dark:border sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
          <div class="p-6 space-y-4 sm:p-8">
              <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900">
                  <%= t('devise.user_sign_in') %>
              </h1>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  
                  <div>
                      <%= f.label :email, t('devise.email'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                      <%= f.email_field :email, placeholder: "YOUR_EMAIL", class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
                  </div>
                  <div>
                    <%= f.label :password, t('devise.password'), class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
                    <%= f.password_field :password, placeholder: "••••••", class: 'bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' %>
                  </div>
                
                  <div class= "my-5">
                    <%= f.submit t('devise.login'), class: "w-full block py-2.5 px-5 word-wrap text-sm text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700" %>                  
                  </div>
                  
              <% end %>
          </div>
      </div>
  </div>
</section>



