<div class="flex justify-between gap-x-20 text-cyan-600 p-3">
  <h3 class="text-2xl pt-1 text-cyan-600">
    歡迎 <%= current_user.name %> ლ(╹◡╹ლ)</h3>
</div>

<div id="total" class="flex mt-10 pl-5 max-w-screen-2xl">

  <div id="left-side" class="mt-5 w-2/12">
    <div id="chat-room" class="mt-5">
      <div class="mt-8">
        <%= render "layouts/new_room_form" %>
      </div>
      <h3 class="text-2xl text-orange-400 mt-4">房間列表</h3>
      <%= turbo_stream_from "rooms"%>
      <div id="rooms">
        <%= render @room%>
      </div>
    </div>
  </div>

  <div id="room_container" class="text-2xl w-9/12 flex justify-center" >
    <div class="w-9/12">
      <%= render partial: 'layouts/single_room', locals: { single_room: @single_room, messages: @messages, user: @user } if @single_room %>    
    </div>
  </div>

  <div id="user-list" class="w-2/12">
        <h4 class= "text-2xl text-cyan-400 bg-slate-600	"> ALL CONTATS </h4>
    <%= turbo_stream_from "users" %>
    <div id="users" class="flex-wrap">
      <%= render @users %>
    </div>
  </div>
</div>