<div id="total" class="flex" data-controller="chatroom_list">

<div id=sidenav class="bg-green-200 w-20 flex flex-col items-center ">
  <i class="fa-solid fa-user p-3 fa-2x" data-action="click->chatroom_list#showUsers"></i>
  <i class="fa-solid fa-message p-3 fa-2x" data-action="click->chatroom_list#showRooms"></i>
  <i class="fa-solid fa-lock p-3 fa-2x"></i>
  
</div>

  <div id="left-side" class="w-2/12 ">
    <div id="users-list" class="<%= 'hidden' if params[:tab_type] == 'group_chat' %>"  data-chatroom_list-target="usersList">
        <%= render "/shared/users_list"%>
      </div>
      <div id="rooms-list" class="<%= 'hidden' if params[:tab_type] == 'single_chat' %>" data-chatroom_list-target="roomsList">
        <%= render "/shared/rooms_list"%>
      </div>
  </div>

  <div id="room_container" class="flex-grow bg-gray-100" >
    <div class="w-full">
      <%= render partial: 'layouts/single_room', locals: { single_room: @single_room, messages: @messages, users: @users } if @single_room %>    
    </div>
  </div>
  
  <div id="user-list" class="w-2/12 bg-cyan-200">
        <h4 class= "p-3 text-2xl text-center text-cyan-400 bg-slate-600"> <%= t('rooms.contacts') %> </h4>
    <%= turbo_stream_from "users" %>
    <div id="users" class="p-0 bg-cyan-200">
      <%= render @users %>
    </div>
  </div>
