<div class="flex justify-between gap-x-20 text-cyan-600">
  <h3 class="text-2xl text-cyan-600">
    歡迎 <%= (current_user&.name).presence || current_company.name %> ლ(╹◡╹ლ)</h3>
</div>

<div id="total" class="flex mt-10">

  <div id="left-side" class="w-2/12 bg-yellow-300">
    <div id="chat-room">
      <h3 class="text-2xl text-orange-400 text-center p-3 bg-amber-200">YOUR CHATROOMS</h3>
      <%= turbo_stream_from "rooms"%>
      <div id="rooms">
        <div>
          <%= render @room%>
        </div>
      </div>
      <div class="mt-8">
        <%= render "layouts/new_room_form" %>
      </div>
    </div>
  </div>

  <div id="room_container" class="flex-grow bg-neutral-300" >
    <div class="w-full">
      <%= render partial: 'layouts/single_room', locals: { single_room: @single_room, messages: @messages, user: @user } if @single_room %>    
    </div>
  </div>

  <div id="user-list" class="w-2/12 bg-cyan-200">
        <h4 class= "text-2xl text-cyan-400 bg-slate-600	text-center p-3"> ALL CONTACTS </h4>
    <%= turbo_stream_from "users" %>
    <div id="users" class="bg-cyan-200 p-0">
      <%= render @users %>
    </div>
  </div>
</div>