<div class="flex justify-between gap-x-20 text-cyan-600 p-3">
  <div name="create room" class="flex gap-3">
    
    <h1 class="text-3xl"><%= link_to "公開聊天室", new_room_path(modal_type: "public"), data: { turbo_frame: "modal" } %></h1>
    <h1 class="text-3xl"><%= link_to "私人聊天室", new_room_path(modal_type: "private"), data: { turbo_frame: "modal" } %></h1>  </div>

  <h3 class="text-2xl pt-1 text-cyan-600">
    歡迎 <%= current_user.name %> ლ(╹◡╹ლ)</h3>
</div>

<div id="total" class="flex mt-10">

  <div id="left-side" class="w-2/12 bg-yellow-300">
    <div id="chat-room">
      <h3 class="text-2xl text-orange-400 text-center p-3 bg-amber-200"><%= t('rooms.groups') %></h3>
      <%= turbo_stream_from "rooms"%>

      <div id="rooms">
        <div>
          <%= render @room%>
        </div>
      </div>
    </div>

    <div id="chat-room" class="mt-5">
      <h3 class="text-2xl text-orange-400 mt-4">公開房間</h3>
      <%= turbo_stream_from "rooms"%>
      <div id="rooms">
        <%= render @room%>
      </div>

    </div>
  </div>

  <div id="room_container" class="flex-grow bg-neutral-300" >
    <div class="w-full">
      <%= render partial: 'layouts/single_room', locals: { single_room: @single_room, messages: @messages, user: @user } if @single_room %>    
    </div>
  <div id="chat-room" class="mt-5">
      <h3 class="text-2xl text-orange-400 mt-4">私人房間</h3>
      <%= turbo_stream_from "private_rooms_for_user_#{current_user.id}" %>
      <%# <%= turbo_stream_from "private_rooms"> %>
      <div id="private_rooms">
        <%= render @private_groups %>
      </div>
    </div>
  </div>

  <div id="room_container" class="text-2xl w-9/12 ml-auto mr-auto pr-20" >
    <%= render partial: 'layouts/single_room', locals: { single_room: @single_room, messages: @messages, user: @user } if @single_room %>    
  </div>

  <div id="user-list" class="w-2/12 bg-cyan-200">
        <h4 class= "text-2xl text-cyan-400 bg-slate-600	text-center p-3"> <%= t('rooms.contacts') %> </h4>
    <%= turbo_stream_from "users" %>
    <div id="users" class="bg-cyan-200 p-0">
      <%= render @users %>
    </div>
  </div>
  
</div>