<footer class="pt-12 bg-white sm:pt-6 dark:bg-gray-900">
    <div class="max-w-screen-lg mx-auto">
        <div class="grid w-full max-w-sm grid-cols-2 gap-8 px-4 py-6 mx-auto text-center lg:py-8 md:grid-cols-4 md:max-w-none sm:text-left">
            <div>
                <h2 class="mb-6 text-base font-extrabold text-gray-900 uppercase md:font-bold md:text-sm dark:text-white">Company</h2>
                <ul class="text-gray-500 font-extralight lg:text-slate-400 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">About</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Careers</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Brand Center</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Blog</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-base font-extrabold text-gray-900 uppercase md:font-bold md:text-sm dark:text-white">Help center</h2>
                <ul class="text-gray-500 font-extralight lg:text-slate-400 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Discord Server</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Twitter</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Facebook</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-base font-extrabold text-gray-900 uppercase md:font-bold md:text-sm dark:text-white">Legal</h2>
                <ul class="text-gray-500 font-extralight lg:text-slate-400 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Privacy Policy</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Licensing</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div>
                <h2 class="mb-6 text-base font-extrabold text-gray-900 uppercase md:font-bold md:text-sm dark:text-white">Download</h2>
                <ul class="text-gray-500 font-extralight lg:text-slate-400 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">iOS</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Android</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">Windows</a>
                    </li>
                    <li class="mb-4">
                        <a href="#" class="hover:underline hover:text-gray-700">MacOS</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full bg-gray-100 dark:bg-gray-700">
        <div class="max-w-screen-xl px-4 py-6 mx-auto md:flex md:items-center md:justify-between">
            <span class="text-sm text-gray-500 dark:text-gray-300 sm:text-center">© 2023 <a href="https://flowbite.com/">SyncSquad™</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 space-x-5 sm:justify-center md:mt-0 rtl:space-x-reverse">
                <!-- 語言選項 -->
                <div>
                    <% if params[:lang] == "en" %>
                    <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center justify-center px-4 py-2 text-sm font-light text-gray-900 border-2 border-gray-200 rounded-lg cursor-pointer text-thin dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">
                      <%= image_tag('lang_en_icon.svg', class: 'w-5 h-5 rounded-full me-3', alt: 'Description') %>
                    English 
                    </button>
                  <% else  %>
                    <button type="button" data-dropdown-toggle="language-dropdown-menu" class="inline-flex items-center justify-center px-4 py-2 text-sm font-light text-gray-900 border-2 border-gray-200 rounded-lg cursor-pointer text-thin dark:text-white hover:bg-gray-200 dark:hover:bg-gray-700 dark:hover:text-white">
                      <%= image_tag('lang_tw_icon.svg', class: 'w-5 h-5 rounded-full me-3', alt: 'Description') %>
                    繁體中文 
                    </button>
                      
                  <% end %>
            <!-- Dropdown -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700" id="language-dropdown-menu">
                <ul class="py-2 font-medium" role="none">
                <li>
                            <a href="<%= url_for(lang: :en) %>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100extra5dark:text-gray-400 lg:text-slate-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div class="inline-flex items-center font-light">
                                <%= image_tag('lang_en_icon.svg', class: 'h-3.5 w-3.5 rounded-full me-2') %>           
                                English 
                            </div>
                            </a>
                        </li>
                        <li>
                            <a href="<%= url_for(lang: :tw) %>" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem">
                            <div class="inline-flex items-center font-light">
                                <%= image_tag('lang_tw_icon.svg', class: 'h-3.5 w-3.5 rounded-full me-2') %> 
                                繁體中文 
                            </div>
                            </a>
                        </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
