<div class="absolute top-0 right-0 px-5 py-2">
    <%= render partial: 'shared/alert', locals: { message: flash[:alert]} %>
    <%= render partial: 'shared/notice', locals: { message: flash[:notice]} %>
    <%= render partial: 'shared/success', locals: { message: flash[:success]} %>
    <%= render partial: 'shared/info', locals: { message: flash[:info]} %>
    <%= render partial: 'shared/mail', locals: { message: flash[:mail]} %>
</div>