<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>SyncSquad</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://unpkg.com/slim-select@latest/dist/slimselect.css">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://npmcdn.com/flatpickr/dist/themes/material_blue.css", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.GOOGLE_MAPS_API_KEY}&libraries=places&callback=initMap", async: true, defer: true, "data-turbolinks-eval": false %>
    <script> function initMap() {} </script>

    <style>
      <%= ".msg-#{current_user&.id}" %> {
      background-color: #007bff;
      padding: 10px;
      }
      <%= ".cont-#{current_user&.id}" %> {
      display: flex;
        justify-content: flex-end
      }
    </style>

  </head>
  <body>
    <%= render 'layouts/navbar' %>
    <%= turbo_frame_tag :modal %>
    <div class="relative">
      <%= render 'layouts/toast' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
